@using ShizUslugi.ViewModels
@model AccountViewModel;
@{
	ViewData["Title"] = "LoginPage";
}

<body>
<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
<div class = "loginwindow">
<div class = "logo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "125"/>
	<p>ШизУслуги</p>
</div>
<form asp-controller="Home" asp-action="Index" method="post">
<div class = "loginfield">
	<input asp-for="login" type="text" placeholder ="Логин">
</div>
<div class = "passwordfield">
	<input asp-for="password" type="password" placeholder ="Пароль">
				@if (!Model.IsUserExisting)
				{
					<div>
						Пользователь не найден!
					</div>
				}
				@if (!Model.IsPasswordCorrect)
				{
					<div>
						Неправильный пароль!
					</div>
				}
</div>
<input name="button" type="submit"  class="loginbutton" id="button" value="Войти">
</form>
<form asp-controller="Home" asp-action="GoToReg" method="post">
			<a class="registerbutton asp-controller=" Home" asp-action="Register">Зарегистрироваться</a>
</form>
</div>
	
</body>