@{
	ViewData["Title"] = "LoginPage";
}

<body>
<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
<div class = "loginwindow">
<div class = "logo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "125"/>
	<p>ШизУслуги</p>
</div>
<div class = "loginfield">
	<input type="text" placeholder ="Логин">
</div>
<div class = "passwordfield">
	<input type="password" placeholder ="Пароль">
</div>
<form asp-controller="Home" asp-action="Test" method="post">
<input name="button" type="submit"  class="loginbutton" id="button" value="Войти">
</form>
	<a class="registerbutton">Зарегистрироваться</a>
</div>
</body>