@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ShizUslugi.ViewModels;
@model RegisterViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/regpage.css" asp-append-version="true" />
<div class = "loginwindow">
<div class = "logo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "125"/>
	<p>ШизУслуги</p>
</div>
<form asp-controller="Home" asp-action="Register" method="post">
<div class = "loginfield">
	<input asp-for = "account.login"type="text" placeholder ="Логин">
</div>
<div class = "passwordfield">
	<input asp-for = "account.password" type="password" placeholder ="Пароль">
</div>
<div class = "namefield">
	<input asp-for = "name" type="text" placeholder ="Имя">
</div>
<div class = "surnamefield">
	<input asp-for = "surname" type="text" placeholder ="Фамилия">
</div>
<div class = "thirdnamefield">
	<input asp-for = "thirdname" type="text" placeholder ="Отчество (если есть)">
</div>
<div class = "numberfield">
	<input asp-for = "phonenumber" type="text" placeholder ="Номер телефона">
</div>
<div class = "cabinetfield">
	<input asp-for = "cabinetnumber" type="text" placeholder ="Кабинет">
</div>
	<div class = "specfield">
	<input asp-for = "specialization" type="text" placeholder ="Ваша специализация">
</div>
<input name="button" type="submit" class="regbutton" id="button" value="Зарегистрироваться">
</form>
<div class = "alreadyhaveanaccount">
	<p>Уже есть аккаунт?</p>
			@if (Model.IsUserExisting)
			{
				<div>Логин @Model.account.login уже занят</div>
			}
	<form method="post" asp-controller="Home" asp-action="Index">
	<a class="loginref" asp-action="Index">Войти</a>
	</form>
</div>
</div>
</body>
</html>