@using ShizUslugi.ViewModels
@model AccountViewModel;
@{
	ViewData["Title"] = "LoginPage";
	Layout = null;
}

<body>
	<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
	<div class="loginwindow">
		<div class="logo">
			<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width="125" />
			<p>ШизУслуги</p>
		</div>
		<form asp-action="ChangePassword" method="post">
			<div class="loginfield">
				<input asp-for="Password1" type="text" placeholder="Введите новый пароль">
			</div>
			<div class="passwordfield">
				<input asp-for="Password2" type="text" placeholder="Повторите пароль">
				@if (!Model.IsPasswordSame)
				{
					<div>
						Пароли не совпадают!
					</div>
				}
			</div>
			<input name="button" type="submit" class="loginbutton" id="button" value="Подтвердить">
		</form>
		
	</div>

</body>