@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
@{
    ViewData["Title"] = "Index";
}

<body>
	<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
	<div class = "mypatients">
		<><form action="MyPatients" method="get">
			<input type="submit" class="mainbutton" value="Мои пациенты">
			</form></>
	</div>
	<div class = "schedule">
			<input type="submit" class = "mainbutton" value = "Моё расписание">
	</div>
	<div class = "mypage">
			<input type="submit" class = "mainbutton" value = "Личный кабинет">
	</div>
</body>
<div>Здравствуйте, дорогой(ая) @Model.doctor.surname @Model.doctor.name @Model.doctor.thirdname!!!</div>
