@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;

<body>
<link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
<p class = "Header">Мои Пациенты</p>
<table class = "table">
	<thead>
		<tr>
			<th>Начало</th>
			<th>Конец</th>
			<th>Активность</th>
			<th>Имя пациента</th>
		</tr>
	<tbody>
			@foreach (Schedule schedule in Model.schedules)
			{
			<tr>
				<td>
						@schedule.starttime
				</td>
				<td>
						@schedule.endtime
				</td>
				<td>
						@schedule.action
				</td>
				<td>
						@schedule.patient.name
				</td>
			</tr>
			}
	</tbody>
	</thead>
</table>
</body>