@using ShizUslugi.ViewModels;
@model AllDoctorViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a class = "buttontext">Мои пациенты</a>
	</div>
	<div class = "mypagenavlink">
	<a>Личный кабинет</a>
	</div>
</div>
<a class ="backbutton">&lt;-Назад</a>
<p class = "Header">Моё расписание</p>
<table class = "table">
	<thead>
		<tr>
			<th>Начало</th>
			<th>Конец</th>
			<th>Активность</th>
			<th>Имя пациента</th>
		</tr>
	<tbody>
			@foreach (Schedule schedule in Model.schedules)
			{
			<tr>
				<td>
						@schedule.starttime
				</td>
				<td>
						@schedule.endtime
				</td>
				<td>
						@schedule.action
				</td>
				<td>
						@schedule.patient.name
				</td>
			</tr>
			}
	</tbody>
	</thead>
</table>
</body>