@using ShizUslugi.ViewModels;
@model Account;
<p class="Header">Ваши данные</p>
<table class="table">
	<thead>
		<tr>
			<th>Логин</th>
			<th>Пароль</th>
		</tr>
	<tbody>
			
			<tr>
				<td>
						@Model.login
				</td>
				<td>
						@Model.password
				</td>
			<td>
				<form asp-action="ChangePassword" method="get">
						<input name = "button" type="submit" value="Изменить Пароль" />
				</form>
			</td>
			</tr>
			
	</tbody>
	</thead>
</table>

