@page
@using WebApplication1.Models;
@model WebApplication1.Pages.SomeShitModel
@{
    <h1>Палаты</h1>
    <form method= "post">
    <input type = "number" name="capacity"/>
        <input type="text" name="type" />
        <input type = "area" name="area"/>
        <button type="submit">Добавить палату</button>
    </form>
    <table>
    <thead>
    <tr>
    <th>id</th>
    <th>Число шизов</th>
    <th>Тип</th>
    <th>Площадь</th>
    </tr>
    </thead>
    <tbody>
            @foreach(Chamber c in Model.chambers)
            {
                <tr>
                <td>
                @c.id
                </td>
                    <td>
                        @c.capacity
                    </td>
                    <td>
                        @c.type
                    </td>
                    <td>
                        @c.area
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
