@using ShizUslugi.ViewModels
@model AllPatientViewModel
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
	<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a asp-action="Index" class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a asp-action="MySchedule" class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a asp-action="MyDoctors"class = "buttontext">Мои врачи</a>
	</div>
		<div class = "button4">
		<a asp-action="MyDiagnoses" class = "buttontext">Мои диагнозы</a>
	</div>
			<div class = "button5">
		<a asp-action="MyChamber" class = "buttontext">Моя палата</a>
	</div>
	</div>
	<div class = "Greetings">
		<h1> Добро пожаловать, @Model.patient.surname @Model.patient.name @Model.patient.thirdname</h1>
	</div>
	<div class = "mydoctors">
		<div class="mypage">
			<form asp-action="PersonalCab" method="get">
				<input type="submit" class="mainbutton" value="Личный кабинет">
			</form>
		</div>
	<form asp-action="MyDoctors" method="get">
	  <input  type="submit" class = "mainbutton" value = "Мои врачи">
		</form>
	</div>
	<div class = "schedule">
		<form asp-action="MySchedule" method="get">
			<input type="submit" class="mainbutton" value="Моё расписание">
		</form>
	</div>
	<div class = "mydiagnoses">
	<form asp-action="MyDiagnoses" method="get">
		<input type="submit" class="mainbutton" value="Мои диагнозы">
	</form>
	</div>
		<div class = "mychamber">
	<form asp-action="MyChamber" method="get">
		<input type="submit" class="mainbutton" value="Моя палата">
	</form>
	</div>
</body>