@using ShizUslugi.ViewModels
@model AllPatientViewModel
@{
}
<body>
	<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
	<div class = "Greetings">
		<h1> Добро пожаловать, @Model.patient.surname @Model.patient.name @Model.patient.thirdname</h1>
	</div>
	<div class = "mydoctors">
	<form asp-action="MyDoctors" method="get">
	  <input  type="submit" class = "mainbutton" value = "Мои врачи">
		</form>
	</div>
	<div class = "schedule">
		<form asp-action="MySchedule" method="get">
			<input type="submit" class="mainbutton" value="Моё расписание">
		</form>
	</div>
	<div class = "shizmypage">
			<input type="submit" class = "mainbutton" value = "Личный кабинет">
	</div>
</body>