@using ShizUslugi.VIewModels
@model AllPatientViewModel
@{
}
<h2>Палаты</h2>
<ul> 
	@foreach(var schedule in Model.Schedules)
	{
		<li>@schedule.starttime</li>
		<li>@schedule.endtime</li>
		<li>@schedule.doctor.name</li>
	}
</ul>