@using ShizUslugi.ViewModels;
@model AllPatientViewModel;
@{
	Layout = null;
}
<body>
<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
	<div class = "navbar">
	<div class = "navbarlogo">
	<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width = "90"/>
	<a>ШизУслуги</a>
	</div>
		<div class = "button1">
		<a class = "buttontext">Главная</a>
	</div>
	<div class = "button2">
		<a class = "buttontext">Расписание</a>
	</div>
	<div class = "button3">
		<a class = "buttontext">Мои врачи</a>
	</div>
		<div class = "button4">
		<a class = "buttontext">Мои диагнозы</a>
	</div>
			<div class = "button5">
		<a class = "buttontext">Моя палата</a>
	</div>
	<div class = "mypagenavlink">
	<a>Личный кабинет</a>
	</div>
	</div>
<a class ="backbutton">&lt;-Назад</a>
<p class="Header">Мои диагнозы</p>
<table class="table">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Тяжесть</th>
			<th>Описание</th>
		</tr>
	</thead>
	<tbody>
			@foreach (Diagnosis diagnosis in Model.diagnosis)
			{
			<tr>
				<td>
						@diagnosis.name
				</td>
				<td>
						@diagnosis.severeness
				</td>
				<td>
						@diagnosis.description
				</td>
			</tr>
			}
	</tbody>

</table>
</body>