@using ShizUslugi.ViewModels;
@model Account;
@{
	Layout = null;
}
<body>
	<link rel="stylesheet" href="~/css/tablepage.css" asp-append-version="true" />
	<div class="navbar">
		<div class="navbarlogo">
			<img src="https://i.ibb.co/T4TT0KL/Chebur-Uslugi.png" alt="" width="90" />
			<a>ШизУслуги</a>
		</div>
		<div class="button1">
			<a asp-action="Index" class="buttontext">Главная</a>
		</div>
		<div class="button2">
			<a asp-action="MySchedule" class="buttontext">Расписание</a>
		</div>
		<div class="button3">
			<a asp-action="MyPatients" class="buttontext">Мои пациенты</a>
		</div>
		<div class="mypagenavlink">
			<a asp-action="PersonalCab">Личный кабинет</a>
		</div>
	</div>
	<a asp-action="Index" class="backbutton">&lt;-Назад</a>
	<p class="Header">Ваши данные</p>
	<table class="table">
		<thead>
			<tr>
				<th>Логин</th>
				<th>Пароль</th>
			</tr>
		<tbody>

			<tr>
				<td>
						@Model.login
				</td>
				<td>
						@Model.password
				</td>
				<td>
					<form asp-action="ChangePassword" method="get">
						<input name="button" type="submit" value="Изменить Пароль" />
					</form>
				</td>
				<td>
					<form asp-action="Logout" method="get">
						<input name="button" type="submit" value="Выйти из аккаунта" />
					</form>
				</td>
			</tr>

		</tbody>
		</thead>
	</table>
</body>