html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.uslugi{
    text-underline-offset:initial;
    font-size: 58px;
    color: #fc4201;
    font-family: Mistral;
    text-decoration: none;
    position:relative;
    right: 15%;
}
.pages{
    font-size: 36px;
    font-family:'Comic Sans MS';
}
.cheburashka {
    position:initial;
    align-self:initial;
  
}