@charset "utf-8";
@import url("Nunito_Medium/stylesheet.css");

body {
	background-color: #E0E7FF;
}
.table {
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    width:100%;
}
.Header {
    font-family: "Nunito Medium";
    color: #FC4201;
    font-size: 25pt;
    text-align: left;
    text-indent: 0px;
    margin-top:-20px;
    margin-bottom: 5px;
}

.backbutton {
    font-family: "Nunito Medium";
    color: #FC4201;
    line-height:80px;
    font-size: 16pt;
    text-align: left;
    text-decoration: none;
}

tbody tr td {
    text-align: center;
    font-family: "Nunito Medium";

}
thead tr th {
    text-align: center;
    font-family: "Nunito Medium";
}
tr td .checkdiagnosisbutton {
    width:400px;
}
.kostil
{
    position:absolute;
}

tr td .checkdiagnosisbutton {
    position:relative;
    float:right;
    width:90px;
    right:40%;
}

.navbar {
    margin-top: -8px;
    margin-right: -10px;
    margin-left: -10px;
    height: 85px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttontext {
    font-family: "Nunito Medium";
    font-size: 17pt;
    font-weight: normal;
}

.navbar .button1 {
    position: absolute;
    top: 32px;
    left: 243px;
}

    .navbar .button2 {
        position: absolute;
        top: 32px;
        left: 345px;
    }

    .navbar .button3 {
        position: absolute;
        top: 32px;
        left: 485px;
    }

    .navbar .mypagenavlink a {
        float: right;
        color: #FC4201;
        font-family: "Nunito Medium";
        position: relative;
        top: 32px;
        right:20px;
        font-size: 17pt;
        text-decoration: underline;
    }



    .navbar .button4 {
        position: absolute;
        top: 32px;
        left: 615px;
    }

.navbar .button5 {
    position: absolute;
    top: 32px;
    left: 785px;
}





.navbarlogo {
    position: absolute;
    width: 300px;
    border-width: thin;
    border-style: none;
    left: 9px;
    top: -3px;
}

    .navbarlogo a {
        color: #fc4201;
        text-align: left;
        font-family: MISTRAL;
        font-size: 23pt;
        font-weight: normal;
        position: absolute;
        float: right;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        left: 95px;
        top: 30px;
    }

.info {
    font-family: "Nunito Medium";
    color: #FC4201;
    font-size: 25pt;
    text-align: left;
    text-indent: 0px;
    margin-top: -20px;
    margin-bottom: 30px;
}
